 
    <h1>World Cup 2015</h1>
    
<div class="row" style="margin-bottom: 40px" ng-repeat="group in vm.data">
    <div class="col-md-7">
        <h3>Gruppe {{group.name}}</h3>
        <table class="table">
            
            <tbody>
                <tr ng-repeat="line in group.matches">
                    <td>{{line.homeTeam.teamName}}</td>
                    <td>{{line.goalsHomeTeam}}</td>
                    <td>-</td>
                    <td>{{line.goalsAwayTeam}}</td>
                    <td>{{line.awayTeam.teamName}}</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align: right">#</th>
                    <th style="">Team</th>
                    <th style="text-align: right">P</th>
                    <th style="text-align: right">W</th>
                    <th style="text-align: right">D</th>
                    <th style="text-align: right">L</th>
                    <th style="text-align: right">GS</th>
                    <th style="text-align: right">GC</th>
                    <th style="text-align: right">P</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in group.table">
                    <td style="text-align: right; width: 8%">{{team.place}}</td>
                    <td style="width: 32%">{{team.team.teamName}}</td>
                    <td style="text-align:right; width: 8%">{{team.games}}</td>
                    <td style="text-align:right; width: 8%">{{team.won}}</td>
                    <td style="text-align:right; width: 8%">{{team.drawn}}</td>
                    <td style="text-align:right; width: 8%">{{team.lost}}</td>
                    <td style="text-align:right; width: 8%">{{team.goalsFor}}</td>
                    <td style="text-align:right; width: 8%">{{team.goalsAgainst}}</td>
                    <td style="text-align:right; width: 12%">{{team.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    

</div>
    

    
    <p></p>
    
    <p></p>
    
